<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/addBook">Books</a>
        <a href="/addAuthor">Authors</a>
    </div>
    <h1>{{ author.first_name }} {{ author.last_name }} </h1>
    <p>ID: ID placeholder</p>
    <p>Notes: <textarea name="" id="" cols="30" rows="10">{{ author.notes }}</textarea></p>
    <p>Books:</p>
    <ul>
        {% for book in author.books.all %}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>
    <form action="/authorAddBook" method="POST">
        {% csrf_token %}
        <select name="books" id="">
            <!-- Sensei Bonus: this needs to be books not already assigned as author (try exclude on book = bookid???) -->
            {% for book in books %}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>