<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/addBook">Books</a>
        <a href="/addAuthor">Authors</a>
    </div>
    <h1>{{book.title}}</h1>
    <p>ID: {{book.id}}</p>
    <p>Description: <textarea name="" id="" cols="30" rows="10">{{book.desc}}</textarea></p>
    <p>Authors</p>
    <ul>
        {% for author in book.authors.all %}
        <li>{{author.first_name}} {{author.last_name}}</li>
        {% endfor %}
    </ul>
    <form action="/bookAddAuthor" method="POST">
        {% csrf_token %}
        <select name="authors" id="">
            <!-- Sensei Bonus: this needs to be books not already assigned as author (try exclude???) -->
            {% for author in authors %}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>